# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
ENV/
.venv/

# Environment files
.env
README.md

# Editor directories and files
.vscode/
.idea/

# OS files
Thumbs.db
Desktop.ini

# Generated reports
output/
